html {
  font-size: 62.5%;
}

body {
  margin: 0rem 8.6rem;
  font-family: sans-serif;
}

/* Header Styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0px 2.4rem;
  font-size: 1.8rem;
}

header h1 {
  font-size: 2.4rem;
}
