html {
  font-size: 62.5%;
}

body {
  /* Reset the default margin and padding */
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Text Utility Classes */

.font1p2 {
  font-size: 1.2rem;
}

.font1p8 {
  font-size: 1.8rem;
}

.font2p4 {
  font-size: 2.4rem;
}

.font4p8 {
  font-size: 4.8rem;
}

/* Container Utility Classes */

.cont-wide {
  margin: 0 30rem;
}

.cont-narrow {
  margin: 0 45rem;
}

/* Header Styling */
header {
  background-color: orange;
  padding-bottom: 2rem;
}
.header-container {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0px 2.4rem;
  cursor: pointer;
}

/* Hero Styling */

section.hero {
  background-color: orange;
  padding-bottom: 2rem;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-text {
  padding-right: 4rem;
}

.hero-text h2 {
  font-weight: extra-bold;
}

.hero-container img {
  width: 800px;
  height: auto;
  flex-basis: 1;
  margin-left: 4rem;
  border-radius: 30px;
  transform: skew(-3deg);
}

.hero-container .hero-text {
  flex-basis: 1;
}

.sign-up {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  background-color: white;
  border-radius: 3px;
  color: black;
  margin: 1rem;
}

/* Information Blocks Styling */

section.info {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.info-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.info-image {
  height: 200px;
  width: 200px;
  border: 3px solid orange;
  flex-basis: 1;
  border-radius: 30px;
}

/* Testimonial Styling */

section.testimonial {
  padding-top: 2rem;
  background-color: #e5e7eb;
}

p.testimonial {
  font-style: italic;
  margin: 0;
  padding: 1rem;
}

p.testimonial-quoter {
  font-weight: bold;
  text-align: end;
  margin: 0;
  padding: 1rem;
}

/* Catl-To-Action Styling */

section.cta {
  background-color: black;
  padding: 3rem 0;
}

.cta-container {
  background-color: darkorange;
  border-radius: 10px;
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cta-text p {
  padding: 0.25rem 0;
  margin: 0;
}

.cta-signup {
  text-decoration: none;
  color: black;
  border-radius: 3px;
  border: 3px solid black;
  padding: 1rem 3rem;
}

/* Footer Styling */

footer {
  margin: 0 0;
  background-color: darkorange;
  padding: 2rem 0;
}

footer p {
  text-align: center;
  color: black;
}
